# YouTube Credentials
YT_CLIENT_ID=your_id_here
YT_CLIENT_SECRET=your_secret_here
YT_REDIRECT_URI=http://localhost:3000
YT_REFRESH_TOKEN=your_refresh_token_here

# Cloudflare Credentials
CLOUDFLARE_ACCOUNT_ID=ef97dba03debca21252fabdfee85d006
CLOUDFLARE_API_TOKEN=your_token_here
D1_DATABASE_ID=803879fc-9dbb-4f96-857e-e1757879e956
